#TempFiles for tex.
*.aux
*.ilg
*.log
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.nav
*.out
*.bak
*.snm
*.toc
*.blg
*.bbl
*.dvi
*.tcp
*.nls
*.nlo
*.lot
*.lof
*.idx
*.pdfsync
*.backup
*.tps
*.tcp
*.cb*
*.sav
*.prj
*~
Thesis.pdf
.pdf
Thesis_sub.pdf

MyThesis/*

